# Check the README for a guided example on retrieving this value for production
DATABASE_URL='mysql://w90y50fabebmf23j703e:pscale_pw_6eZaTdQRW7FM4ZPdhKjSkKOUCBWk0L5sDXqhnqNB8Zh@us-east.connect.psdb.cloud/video-course-starter-kit?sslaccept=strict'

# Easily generate a new value for the NextAuth secret here
# https://generate-secret.vercel.app/
NEXTAUTH_SECRET=711078eb162e5fa2d189df782ced02af

# Create a new GitHub OAuth app to get these values
# https://github.com/settings/developers
GITHUB_ID=63d30ba8fde6355becd0
GITHUB_SECRET=ac2d0bbad00f94ad303ec7b38fa5ba5f5f6d8934

# Learn how to get your Mux access tokens
# https://docs.mux.com/guides/video/make-api-requests
MUX_TOKEN_ID=6401455f-6624-40c8-bf0f-aac70d68911d
MUX_TOKEN_SECRET=R3B8A1zzb3ZnIsSBUPLxIqJ80iYWvFdDgdfo9r0mGMUaqKrGvygMyGBujFgYd5a7AHklfH8VnaN

# Optionally verify incoming webhooks are from Mux
# https://docs.mux.com/guides/video/verify-webhook-signatures
MUX_WEBHOOK_SECRET=rtclikjmolgs96qdojqpt6j1hpi9vg72

# This is only required for local development – you don't have to set this when deploying to Vercel
NEXTAUTH_URL="http://localhost:3000"
